Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

RewriteCond %{HTTP_HOST} ^(^.*)\.noodly.io
RewriteRule (.*) $1?publisher=%1